In [2]:
import pyeph

In [3]:
eph = pyeph.get(data="eph", year=2021, period=2, base_type='individual') 
canastas = pyeph.get(data="canastas") # canasta basica total y alimentaria
adequi = pyeph.get(data="adulto-equivalente") # adulto equivalente

Obtenido con exito: base_individual_2021T2.zip
CBT y CBA mas actualizada que se obtuvo: 2021-06
Obtenido con exito: adulto_equivalente.zip

/Users/mariagaska/eph-python/pyeph/get/basket/__init__.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_inicial = df_inicial.append(df_f)
/Users/mariagaska/eph-python/pyeph/get/basket/__init__.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_inicial = df_inicial.append(df_f)

In [4]:
pobreza = pyeph.Poverty(eph,canastas)

Obtenido con exito: adulto_equivalente.zip

In [5]:
# Pobreza por sexo 
pobreza.population(group_by='CH04')

Indicador  Pobreza (%)  Pobreza (#)  Indigencia (%)  Indigencia (#)
CH04
1                0.396    4234300.0           0.105       1118446.0
2                0.383    4302915.0           0.097       1085661.0

In [6]:
# Tasa de pobreza de personas general 
pobreza.population()

Indicador  Pobreza (%)  Pobreza (#)  Indigencia (%)  Indigencia (#)
Valor            0.389    8537215.0             0.1       2204107.0

In [7]:
# Tasa de pobreza hogares 
pobreza.household()

Indicador  Pobreza (%)  Pobreza (#)  Indigencia (%)  Indigencia (#)
Valor            0.291    2187536.0           0.075        566164.0

In [8]:
mercado_laboral = pyeph.LaborMarket(eph)

In [9]:
# Tasa de desempleo considerando la población total por sexo
mercado_laboral.unemployment(group_by="CH04", div_by="PT")

      Tasa de Desempleo
CH04
1                   9.0
2                  10.4

In [10]:
# Tasa de desempleo considerando la Población en Edad de Trabajar
mercado_laboral.employment(div_by="PET")

   Tasa de Empleo
0            52.7

In [11]:
# Tasa de empleo considernado la Población Total por sexo
mercado_laboral.employment(group_by="CH04", div_by="PT")

      Tasa de Empleo
CH04
1               48.9
2               34.5

In [12]:
# Tasa de empleo general considerando la Población en Edad de Trabajar
mercado_laboral.employment(div_by="PET")

   Tasa de Empleo
0            52.7

In [13]:
# Tasa de actividad considerando la Población Total por sexo
mercado_laboral.activity(group_by="CH04", div_by="PT")

      Tasa de Actividad
CH04
1                  53.7
2                  38.5